@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------

				Start of Aaron's CSS

---------------------------------------------- */

html, body {
	width: 100vw;
	height: 100vh;
/*	border: 1px red solid;*/
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	
	display: flex;
	align-content: flex-end;
	
	background: hsla(210,2.5%,95%,1.00);
}

/* ----------------------------------------------

				Landing CSS

---------------------------------------------- */



/* ----------------------------------------------

				7 Contrasts CSS

---------------------------------------------- */
/*nav*/
nav {
	display: flex;
	align-items:flex-end;

/*	border: 1px solid red;*/
	width: 25vw;
	height: 100vh;
	
	background-color: hsla(0,15%,99%,1.00);
}

.flex-nav-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	
	height: auto;
	width: 100%;
	margin-bottom: 5vh;
/*	margin-left: 5vh;*/
	
/*	border: 1px solid blue;	*/
}

.nav-item {
	height: 5vmin;
/*	padding: 11pt 0;*/
/*	border: 1px solid red;*/
	
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.nav-selected {
/* 	font-weight: bold; */
/* 	text-decoration: underline; */
	opacity: .5;
}

a {
	text-decoration: none;
	font-size: 1.7vw;
	font-weight: normal;
	
	color: hsla(0,5%,50%,1.00);
	
	transition: font-weight .15s ease-in 0s;
}

a:hover {
	font-weight: bold;
}

/*General Illustration*/

main {
	width: 75vw;
/*	height: 100%;*/
	
/*	border: pink 1px solid;*/
}

main article {
	height: 25vh;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

main article p {
	color: hsla(0,0%,35%,1.00);
	width: 400pt;
	padding-left: 4vmin;
	padding-bottom: 6vmin;
	font-size: 12pt;
	text-indent: 1.5em;
}

.increase-size-of-house {
	font-size: 130%;
}

/*Size Illustration*/

.illustration-container {
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
	
	font-size: 18pt;
}

.size-illustration {
	width: 300pt;
	height: 200pt;
/* 	border: red 1px solid; */
	
	transform: translate(-4vw, 5vh);
}

@keyframes increaseSize {
    from {font-size: 18pt;}
    to {font-size: 144pt;}
}

.size-illustration span {
	font-size: 144pt;
	font-weight:normal;
    animation-name: increaseSize;
    animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
    animation-direction: alternate;	
}

/*weight Illustration*/

.weight-illustration {
	font-weight: 100;
	font-size: 48pt;
}

@keyframes increaseWeight {
    from {font-weight: 100;}
    to {font-weight: 900;}
}

.weight-illustration span {
/* 	font-size: 144pt; */
	font-weight:900;
    animation-name: increaseWeight;
    animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
    animation-direction: alternate;	
}

/*form Illustration*/

.form-illustration {
	font-size: 36pt;
}

@keyframes changeDisplay {
    0% {transform:translate(0px); opacity: 0;}
    100% {transform:translate(9999px);  opacity: 1;}
}

.form-illustration span {
/* 	font-size: 144pt; */
	/* font-family: gotham; */
	font-size: 125%;
	opacity: 1;
/* 	transform:translate(99px); */
/* 	color: pink; */
	display: block;
	
	animation-name: changeDisplay;
    /* animation-duration: 1s; */
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
    animation-direction: alternate;	
}

.form1 {
	opacity: 1 !important;
	animation-duration: 1s;
	font-family: serif;
}

.form2 {
	animation-duration: 1.5s;
	font-family: sans-serif;
}

.form3 {
	animation-duration: 2s;
	font-family: monospace;
}

.form4 {
	animation-duration: 2.5s;
	font-family: cursive;

}

.form5 {
	animation-duration: 3s;
	font-family: fantasy;
}