@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------

				Start of Aaron's CSS

---------------------------------------------- */

html, body {
	width: 100vw;
	height: 100vh;
/*	border: 1px red solid;*/
	font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
	
	display: flex;
	align-content: flex-end;
	flex-wrap: wrap;
	
	background: hsla(210,2.5%,95%,1.00);
}

/* ----------------------------------------------

				Home CSS

---------------------------------------------- */

.home-header {
	width: 100vw;
	height: auto;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
	justify-content: flex-start;
/* 	align-items: flex-end; */
	align-content: flex-end;
	
/* 	border: 1px red solid; */
}

.home-header h1 {
	font-size: 10vmin;
	font-weight: bold;
	color: hsla(210, 5%, 10%, 1);
	display: block;
	
/* 	border: 1px red solid; */
}

.home-header h2 {
	font-size: 5vmax;
	font-weight: bold;
	color: hsla(210, 5%, 50%, 1);
	margin-top: 2vh;
	margin-bottom: 2vh;
	display: block;
	
/* 	border: 1px red solid; */
}

.home-main {
/* 	width: 100vw; */
/* 	height: 50vh; */
}

.home-links {
	width: 100vmax;
	height: 50vh;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.home-links a {
	width: 25vw;
	height: 25vmin;
	
	background: hsla(210, 5%, 80%, 1);
/* 	box-shadow: 0 0 10pt hsla(210, 5%, 5%, .15); */
/* 	border: 1px hsla(0, 0%, 80%, 1) solid; */
/* 	margin: -1px; */
	
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	
	font-size: 5vw;
}

/* .home-links a span, .home-links a ul li {
	color: hsla(210, 15%, 15%, 1);
} */

.home-size {
	font-size: 8vw;
	color: hsla(210, 5%, 5%, 1);

	animation-name: homeSize;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes homeSize {
    0% {	font-size: 2vw;}
    10% {	font-size: 2vw;}
    40% {	font-size: 8vw;}
    100% {	font-size: 8vw;}
}

.home-weight {
	font-weight: 900;
	color: hsla(210, 5%, 5%, 1);

	animation-name: homeWeight;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes homeWeight {
    0% {	font-weight: 100;}
    10% {	font-weight: 100;}
    40% {	font-weight: 900;}
    100% {	font-weight: 900;}
}

.home-form {
/* 	border: 1px red solid; */
	font-size: 5vw;
	color: hsla(210, 5%, 5%, 1);
	
	animation-name: homeForm;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.home-form li {
/* 	border: 1px red solid; */
	/* display: block; */
/* 	transform: translate(0px, 0px); */
	color: hsla(210, 5%, 50%, 0) !important;
	font-size: 4vw;
}

@keyframes homeForm {
    0% {	}
    10% {	}
    40% {	}
    100% {	}
}

.home-form li:nth-child(1) {
	text-transform: uppercase;
  animation: winkle 1s linear;
}
.home-form li:nth-child(2) {
	text-transform: lowercase;
  animation: winkle 1s linear 2s;
}
.home-form li:nth-child(3) {
	font-size: 5vw;
	font-style: italic;
	color: hsla(210, 5%, 5%, 1) !important;
  animation: winkle-permanent 4s linear 0s;
}
.home-form li:nth-child(4) {
	text-transform: capitalize;
  animation: winkle 1s linear 1s;
}
/* .home-form li:nth-child(5) {
	text-transform: lowercase;
  animation: winkle 1s linear 1s;
} */

@keyframes winkle {
  0%, 100% {	color: hsla(210, 5%, 5%, 0);}
  25%, 75% {		color: hsla(210, 5%, 5%, 1);}
}

@keyframes winkle-permanent {
  0%, 80% {		color: hsla(210, 5%, 5%, 0);}
  90%, 100% {	color: hsla(210, 5%, 5%, 1);}
}

.home-structure {
/* 	border: 1px red solid; */
	font-size: 5vw;
	text-align: center;
	color: hsla(210, 5%, 5%, 1);
	
	animation-name: homeForm;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.home-structure li {
/* 	border: 1px red solid; */
/* 	display: block; */
	transform: translate(0px, 0px);
	color: hsla(210, 5%, 80%, 1);
	font-size: 4vw;
}

.home-structure li:nth-child(1) {
	font-family: cursive;
  animation: changeStructure 1s linear;
}
.home-structure li:nth-child(2) {
	font-family: serif;
  animation: changeStructure 1s linear 2s;
}
.home-structure li:nth-child(3) {
/* 	font-size: 5vw; */
	font-family: sans-serif;
  animation: changeStructurePermanent 4s linear 0s;
}
.home-structure li:nth-child(4) {
	font-family: fantasy;
  animation: changeStructure 1s linear 3s;
}
.home-structure li:nth-child(5) {
	font-family: monospace;
  animation: changeStructure 1s linear 1s;
}

@keyframes changeStructure {
  0% {		color: hsla(210, 5%, 5%, 0); transform: translate(0px, 20px)}
  100% {	color: hsla(210, 5%, 5%, 1);}
}

@keyframes changeStructurePermanent {
  0%, 80% {		}
  90%, 100% {	}
}


.home-texture li {
	transform: translate(-1vw, 0);
	font-size: 4vw;
	line-height: .33;
	color: hsla(210, 5%, 5%, 1);

	animation-name: homeTexture;
    animation-duration: 5s !important;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
/*     border: 1px solid red; */
}

.home-texture li:nth-child(1) {
	margin-left: -.75vw;
	opacity: .25;
	animation: homeTexture 5s ease 0s infinite normal;
}

.home-texture li:nth-child(2) {
	margin-left: .0vw;
		opacity: .5;
	animation: homeTexture 5s ease .25s infinite normal;
}

.home-texture li:nth-child(3) {
	margin-left: .75vw;
		opacity: .75;
	animation: homeTexture 5s ease .5s infinite normal;
}

.home-texture li:nth-child(4) {
	margin-left: 1.5vw;
	animation: homeTexture 5s ease .75s infinite normal;
}

@keyframes homeTexture {
    0%, 75% 	{	transform: translate(-1vw, 0);}
    25%, 50%	{	transform: translate(1vw, 0);}
/*     60%, 80% {	transform: translate(-2vw, 0);} */
/*     100% {	transform: translate(0, 0);} */
}


.home-colour {
	color: hsla(0, 100%, 50%, 1);

	animation-name: homeColour;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes homeColour {
    0% {	color: hsla(0, 100%, 50%, 1);}
    25% {	color: hsla(90, 100%, 50%, 1);}
    50% {	color: hsla(180, 100%, 50%, 1);}
    75% {	color: hsla(270, 100%, 50%, 1);}
    100% {	color: hsla(360, 100%, 50%, 1);}
}

.home-direction {
	transform: rotate(30deg);
	color: hsla(210, 5%, 5%, 1);

	animation-name: homeDirection;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes homeDirection {
    0%, 15% {	transform: rotate(15deg);}
    16%, 30% {	transform: rotate(-25deg);}
	31%, 45% {	transform: rotate(35deg);}
	46%, 60% {	transform: rotate(-15deg);}
    61%, 100% {	transform: rotate(0deg);}
}

.home-links a:last-child {
	background-image: url("../images/Dair3.jpg");
	background-size: auto;
	background-position: 80%, 40%;
	background-color: red;
	/* mix-blend-mode: hard-light; */
	
/* 	opacity: .5; */
/* 	border: 1px solid red; */
}

.home-links a div {
	width: 100%;
	height: 100%;
	
	background-color: hsla(210, 5%, 95%, .5);
	
/* 	border: 1px red solid; */
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-bio {
	text-align: center;
	color: hsla(210, 5%, 5%, .8) !important;
/* 	opacity: 1 !important; */
}

/* ----------------------------------------------

				7 Contrasts CSS

---------------------------------------------- */
/*nav*/
nav {
	display: flex;
	align-items:flex-end;

/*	border: 1px solid red;*/
	width: 25vw;
	height: 100vh;
	
	background-color: hsla(0,15%,99%,1.00);
}

.flex-nav-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	
	height: auto;
	width: 100%;
	margin-bottom: 5vh;
/*	margin-left: 5vh;*/
	
/*	border: 1px solid blue;	*/
}

.nav-item {
	height: 5vmin;
/*	padding: 11pt 0;*/
/* border: 1px solid red; */
	
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	text-align: left;
	
/* 	margin-left: 2vw; */
}

.nav-selected {
/* 	font-weight: bold; */
/* 	text-decoration: underline; */
	opacity: .5;
}

a {
	text-decoration: none;
	font-size: 1.7vw;
	font-weight: normal;
	
	color: hsla(0,5%,50%,1.00);
	
	transition: font-weight .15s ease-in 0s;
}

a:hover {
	font-weight: bold;
}

/*General Illustration*/

.7-contasts-main {
	width: 75vw;
/*	height: 100%;*/
	
/*	border: pink 1px solid;*/
}

.7-contasts-main article {
	height: 25vh;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

p {
	color: hsla(0,0%,35%,1.00);
	max-width: 400pt;
	padding-left: 4vmin;
	padding-bottom: 6vmin;
	font-size: 12pt;
	text-indent: 1.5em;
}

.increase-size-of-house {
	font-size: 130%;
}

/*Size Illustration*/

.illustration-container {
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
	
	font-size: 18pt;
}

.size-illustration {
	width: 300pt;
	height: 200pt;
/* 	border: red 1px solid; */
	
	transform: translate(-4vw, 5vh);
}

@keyframes increaseSize {
    from {font-size: 18pt;}
    to {font-size: 144pt;}
}

.size-illustration span {
	font-size: 144pt;
	font-weight:normal;
    animation-name: increaseSize;
    animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
    animation-direction: alternate;	
}

/*weight Illustration*/

.weight-illustration {
	font-weight: 100;
	font-size: 48pt;
}

@keyframes increaseWeight {
    from {font-weight: 100;}
    to {font-weight: 900;}
}

.weight-illustration span {
/* 	font-size: 144pt; */
	font-weight:900;
    animation-name: increaseWeight;
    animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
    animation-direction: alternate;	
}

/*form Illustration*/

.form-illustration {
	font-size: 36pt;
}

@keyframes changeForm {
    0% {transform: translate(-5vw, 0); opacity:0;}
    100% {transform: translate(0, 0); opacity: 1;}
}

.form-illustration span {
/* 	font-size: 144pt; */
	/* font-family: gotham; */
	font-size: 125%;
	/* color: pink; */
	display: block;
/* 	text-transform: uppercase; */
	transform: translate(0, 0);
	opacity: 1;
	
	animation-name: changeForm;
/*     animation-duration: 1s; */
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
    animation-direction: alternate;	
}

.form1 {
	animation-duration: 1s;
	text-transform: lowercase;
}

.form2 {
	animation-duration: 1.5s;
	text-transform: capitalize;
}

.form3 {
	animation-duration: 2s;
	font-style: italic;
}

.form4 {
	animation-duration: 2.5s;
	text-transform: uppercase;
}

.form5 {
	display: none !important;
	animation-duration: 3s;
	font-style: oblique;
}

/*Structure Illustration*/

.structure-illustration {
	font-size: 24pt;
}

@keyframes changeStructure {
    0% {transform:translate(0px); opacity: 0;}
    100% {transform:translate(9999px);  opacity: 1;}
}

.structure-illustration span {
/* 	font-size: 144pt; */
	/* font-family: gotham; */
	font-size: 125%;
	opacity: 1;
/* 	transform:translate(99px); */
/* 	color: pink; */
	display: block;
	
	animation-name: changeStructure;
    /* animation-duration: 1s; */
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
    animation-direction: alternate;	
}

.structure1 {
	opacity: 1 !important;
	animation-duration: 1s;
	font-family: serif;
}

.structure2 {
	animation-duration: 1.5s;
	font-family: sans-serif;
}

.structure3 {
	animation-duration: 2s;
	font-family: monospace;
}

.structure4 {
	animation-duration: 2.5s;
	font-family: cursive;

}

.structure5 {
	animation-duration: 3s;
	font-family: fantasy;
}

/*texture Illustration*/

.texture-illustration {
	font-size: 4vmax;
}

@keyframes changeTexture {
    0% {transform:translate(-5vw); opacity: 0;}
    100% {transform:translate(0px);  opacity: 1;}
}

.texture-illustration div {
	display: block;
	transform:translate(0vw, -10vh);
/* 	border: 1px red solid; */
}

.texture-illustration div span {
/* 	font-size: 144pt; */
	/* font-family: gotham; */
	font-size: 5vmax;
	opacity: 1;
/* 	transform:translate(99px); */
	color: pink;
	display: block;
	
	animation-name: changeTexture;
/*     animation-duration: 1s; */
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
    animation-direction: alternate;	
    line-height: .75;
}

.top-layer {
	position:absolute;
	left: 45%;
	border: 50%;
/*     background-color:red; */
	z-index: 9999;
}

.texture1 {
	animation-duration: 1s;
	transform:translate(0px);
	margin-right: 0;
}

.texture2 {
	animation-duration: 1.5s;
	transform:translate(0px);
	margin-right: 1.2vw;
}

.texture3 {
	animation-duration: 2s;
	transform:translate(0px);
	margin-right: 2.4vw;
}

.texture4 {
	animation-duration: 2.5s;
	transform:translate(0px);
	margin-right: 3.6vw;
}

.texture5 {
/* 	display: none !important; */
	animation-duration: 3s;
	transform:translate(0px);
	margin-right: 4.8vw;
}

/*Colour Illustration*/

.illustration-container {
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
	
	font-size: 18pt;
}

.colour-illustration {
	width: 300pt;
	height: 200pt;
/* 	border: red 1px solid; */
	
	transform: translate(-4vw, 5vh);
}

@keyframes colourChange {
    0% {color: hsla(0, 100%, 50%, 1);}
	25% {color: hsla(90, 100%, 50%, 1);}
    50% {color: hsla(180, 100%, 50%, 1);}
    75% {color: hsla(270, 100%, 50%, 1);}
    100% {color: hsla(360, 100%, 50%, 1);}
}

.colour-illustration span {
	font-size: 72pt;
	font-weight:normal;
    animation-name: colourChange;
    animation-duration: 6s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
    animation-direction: alternate;	
}

/*direction Illustration*/

.illustration-container {
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
	
	font-size: 36pt;
}

.direction-illustration {
	width: 40%;
	height: 40%;
/* 	border: red 1px solid; */
	
	transform: translate(-4vw, 5vh);
}

@keyframes changeDirection {
    0% 		{transform: rotate(0deg)	translate(-4vmax, 4vmax);}
 	25% 	{transform: rotate(90deg)	translate(-4vmax, -4vmax);}
    50% 	{transform: rotate(180deg)	translate(4vmax, -4vmax);}
    75% 	{transform: rotate(270deg)	translate(4vmax, 4vmax);}
    100% 	{transform: rotate(360deg)	translate(-4vmax, 4vmax);}
}

@keyframes changeDirection2 {
    0% 		{transform: rotate(-90deg)	translate(10vw, 20vh);}
 	25% 	{transform: rotate(0deg)	translate(10vw, 20vh);}
    50% 	{transform: rotate(90deg)	translate(10vw, 20vh);}
    75% 	{transform: rotate(180deg)	translate(10vw, 20vh);}
    100% 	{transform: rotate(270deg)	translate(10vw, 20vh);}
}

@keyframes changeDirection3 {
    0% 		{transform: rotate(-90deg)	translate(10vmax, 25vmax);}
 	25% 	{transform: rotate(0deg)	translate(10vmax, 25vmax);}
    50% 	{transform: rotate(90deg)	translate(10vmax, 25vmax);}
    75% 	{transform: rotate(180deg)	translate(10vmax, 25vmax);}
    100% 	{transform: rotate(270deg)	translate(10vmax, 25vmax);}
}

@keyframes changeDirection4 {
    0% 		{transform: rotate(-90deg)	translate(100px, 200px);}
 	25% 	{transform: rotate(0deg)	translate(100px, 200px);}
    50% 	{transform: rotate(90deg)	translate(100px, 200px);}
    75% 	{transform: rotate(180deg)	translate(100px, 200px);}
    100% 	{transform: rotate(270deg)	translate(100px, 200px);}
}

.direction-illustration span {
	font-size: 8vh;
	font-weight:normal;
	display: block;
/* 	border: 1px red solid; */
	
/* 	translate(-200px, 200px); */
/* 	transform: translate(100px, 250px); */
	transform: rotate(270deg) translate(100px, 200px);
/* 	transform: rotateZ(30deg); */
/* 	transform: rotate3d(-4vw, 5vh, 0, 0deg); */
    animation-name: changeDirection4;
    animation-duration: 4s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
/*     animation-direction: alternate;	 */
}

/* Biography */

.biography-main {
	width: 75vw;
	height: 65vh;
	
	background-image: url("../images/Dair3.jpg");
	background-size: auto 100vmax;
	background-position: 75% 50%;
	background-repeat: no-repeat;
/* 	background-color: pink; */
/* 	opacity: .25; */
}

.biography-container {
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.biography-container h1 {
	font-size: 8vw;
	margin-bottom: 2vh;
	margin-left: 2vh;
	font-weight: bold;
	color: hsla(210, 15%, 15%, .9);
}

.biography-article {
	height: 35vh;
/* 	display: none; */
	background-color: hsla(210, 2%, 15%, .75);
	overflow-y: scroll;
}

.biography-article h2 {
	font-weight: 700;
	font-size: 2em;
	color: white;
	
	padding-left: 2vw;
	padding-top: 2vw;
	padding-bottom: 2vw;
}

.biography-article p {
	color: hsla(210, 5%, 90%, 1);
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.biography-article p:last-child {
	margin-bottom: 4vh;
}